- var lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.";

section#service.service
  .container
    .section-heading
      span We work with
      h2 Amazing services
    .service__grid
      .row
        .col-1-of-3.service__grid-item
          figure.service__icon-alarm
          .service__describe
            h4 Photography
            p.text-regular #{lorem}
        .col-1-of-3.service__grid-item
          figure.service__icon-graph
          .service__describe
            h4 Web Design
            p.text-regular #{lorem}
        .col-1-of-3.service__grid-item
          figure.service__icon-computer
          .service__describe
            h4 Creativity
            p.text-regular #{lorem}
      .row
        .col-1-of-3.service__grid-item
          figure.service__icon-book
          .service__describe
            h4 Seo
            p.text-regular #{lorem}
        .col-1-of-3.service__grid-item
          figure.service__icon-home
          .service__describe
            h4 Css/Html
            p.text-regular #{lorem}
        .col-1-of-3.service__grid-item
          figure.service__icon-image
          .service__describe
            h4 Digital
            p.text-regular #{lorem}

