- var lorem = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.";

section#service.service
  .container
    .section-heading
      span We work with
      h2 Amazing services
    .service__grid
      .service__grid-row
        .service__grid-item
          figure
          h4 Photography
          p #{lorem}
        .service__grid-item
          figure
          h4 Web Design
          p #{lorem}
        .service__grid-item
          figure
          h4 Creativity
          p #{lorem}
      .service__grid-row
        .service__grid-item
          figure
          h4 Seo
          p #{lorem}
        .service__grid-item
          figure
          h4 Css/Html
          p #{lorem}
        .service__grid-item
          figure
          h4 Digital
          p #{lorem}

